{% extends "base.html" %} {% block title %}Blogs{% endblock %}

{% block content %}
<h1>Hello {{user.username}}</h1>
<h1 align="center">Make a Post</h1>

<form method="POST" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="subject" class="form-label">Subject</label>
        <input type="text" class="form-control" id="subject" name="subject" placeholder="Enter a subject">
    </div>
    <div class="mb-3">
        <label for="content" class="form-label"></label>
        <input type="file" id="content" name="content">
    </div>
    <div class="mb-3">
        <label for="tag" class="form-label">Tag (Separate tags with ',')</label>
        <input type="text" class="form-control" id="tag" name="tag" placeholder="Enter a tag">
    </div>
    <br>
    
    <button type="submit" class="btn btn-primary">Post</button>

    <!-- user enters tag and submits it to add into an array list -->
    <!-- Once the entire form is submitted, that list of tags are added to the db -->
    <!-- for every tag in db, create a pill badge -->
    
    
</form>

{% endblock %}
