{% extends "base.html" %} {% block title %}Blogs{% endblock %}

{% block content %}

<br>
<form method="POST">
    
    <div align="center">
        <button  type="submit" class="btn btn-primary btn-lg">Initialize DB</button>
    </div>
    
    
    <!-- user enters tag and submits it to add into an array list -->
    <!-- Once the entire form is submitted, that list of tags are added to the db -->
    <!-- for every tag in db, create a pill badge -->
    
    
</form>

{% endblock %}